body.main-theme > section:nth-child(even) {
  background-color: #005555;
}

body.main-theme #intro,
body.main-theme #project {
  color: white;
}

body.main-theme #job {
  color: black;
}

body.main-theme #navbar .menu a:not(.borderless) {
  border-color: #005555;
  color: #005555;
}

body.main-theme #navbar .menu a:not(.borderless):hover {
  background-color: #005555;
  color: white;
  transition: background-color 0.3s;
}

section#job .box .grid i {
  color: #005555;
}

.text-primary {
  color: #005555;
}
