.button {
  border-radius: 20px;
  border: 1.5px solid black;
  padding: 10px;
}

.borderless {
  border: 0 !important;
}

.box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  display: block;
  margin-bottom: 20px;
}

.grid.no-column-border .column {
  border: none !important;
}

@media (min-width: 800px) {
  .grid .columns {
    display: flex;
    flex-wrap: wrap;
  }

  .grid .columns.sm-grid-2 .column {
    flex: 0 1 50%;
  }
}

@media (min-width: 1000px) {
  .grid .columns {
    display: flex;
    flex-wrap: wrap;
  }

  .grid .columns .column {
    flex: 1;
    border-right: 1px solid #e2e0e0;
  }

  .grid .columns .column:last-child {
    border: none;
  }
}

@media (min-width: 1200px) {
  .grid .columns.grid-3 .column {
    flex: 0 1 33.33%;
  }
}

@media (max-width: 999px) {
  .grid .columns .column {
    border-bottom: 1px solid #e2e0e0;
  }

  .grid .columns .column:last-child {
    border: none;
  }
}

.text-center {
  text-align: center;
}
